<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<listener>
		<listener-class>in.hiresense.dbutils.AppInitializer</listener-class>
	</listener>

	<!-- Database credentials -->
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost:3306/hiresense_db</param-value>
	</context-param>
	<context-param>
		<param-name>username</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>root123</param-value>
	</context-param>

	<!-- Application name -->
	<context-param>
		<param-name>appName</param-name>
		<param-value>HireSense</param-value>
	</context-param>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>

	<!-- For 404 (Page Not Found) -->
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
</web-app>